body { background-color: rgb(149, 149, 189); }
div.header { background-color: black; }

div.header h1 span#h1_first { color: rgb(205, 12, 186); }
div.header h1 span#h1_second { color: white; }

/* generic button coloring */

div.button {
    background-color: #4f4f4f;
    color: white;
    border-color: black;
    text-shadow: 1px 1px 2px black;
}
div.disabled {  
    color: gray;
}

/* page: Hraci */

div.napoveda {
  background-color: #c0d0ff; color: black;
}

div.input { 
    border-color: orange;
    background-color: white;
}

/* page: Predavka */

div#predavka div.panel {
    background-color: rgb(208, 204, 217); color: black;
}
div#hrac_predavka {
    background-color: rgb(253, 192, 68); 
    color: black;
    border-color: gray;
}

/* page: Vitez */

div#vitez div.panel {
    background-color: rgb(222, 216, 218); color: #7f2f2f;
}
div#hrac_vitez {
    background-color: rgb(254, 155, 65);
    color: white;
    border-color: gray;
}
span#title_vitez {
    color: rgb(205, 12, 186);
}

/* page: Stolek */

div.podstavec {
	background-color: rgb(149, 149, 189);
	color: rgb(149, 149, 189);
}

div.podkartou {
    background-color: rgb(6, 255, 6); 
    color: rgb(6, 255, 6);
    border-color: white;
}

div.title {
  background-color: rgb(65, 65, 103);
  color: rgb(227, 227, 234);  
}
div.hrac_na_tahu {
  background-color: #c0d0ff;
  color: black;
}
div.hrac_historie {
  background-color: #c0d0ff;
  color: black;
}

/* page: Stolek - technical border needs to have the same color as body */
div.mazaci { border-color: rgb(149, 149, 189); }
div.dalsibarva { border-color: rgb(149, 149, 189); }

div.about_title {
  background-color: rgb(65, 65, 103);
  color: rgb(227, 227, 234);  
}
div.about_ref {
  background-color: #c0d0ff; 
  color: black;
}