body { 
    height: 100%; margin: 0px; padding: 0px; 
}

div.header { 
    padding: 5px; text-align: left; 
}
div.header h1 { margin: 0px; font: bold 1em Arial, sans-serif; }

div.view {
  position: absolute; width: 100%;
  margin: 0px; padding: 5px 0px;
}

div.napoveda {
  font: bold 20px Arial, sans-serif; 
  border-radius: 5px;
  margin: 5px; 
  padding: 5px;
}

div.input_row { 
    margin: 0px 10px 10px 10px; 
}
div.label { 
    font: bold 20px Arial, sans-serif;
}
div.input {
  padding: 5px;
  border: 1px solid; border-radius: 5px;
}
div.input input.hraci_jmena { 
  padding: 0px; margin: 0px; 
  border: 0px;
  width: 100%; 
  font-size: 18px;
}

div.hidden { display: none; }
div.button {
    clear: both;
    padding: 15px 5px;
    margin: 5px;
    border: 1px solid;
    border-radius: 5px;
    font: 20px Arial, sans-serif;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}
div.panel {
    margin: 10px; padding: 10px; 
    font: bold 15px Arial, sans-serif; 
    text-align: center;
}

div#predavka div.panel {
    padding: 30px 0px;
}

div#hrac_predavka {
    border: 1px solid;
    -webkit-box-shadow: 3px 3px 5px #333;
    border-radius: 5px;
    font: bold 40px Arial, sans-serif; 
    margin: 30px 10px 30px 10px; padding: 10px; 
}


div#vitez div.panel {
    padding: 30px 0px;
}
div#hrac_vitez {
    border: 1px solid;
    -webkit-box-shadow: 3px 3px 5px #333;
    border-radius: 5px;
    font: bold 40px Arial, sans-serif; 
    margin: 30px 10px 30px 10px; padding: 10px; 
}
span#title_vitez {
    font: bold 40px Arial, sans-serif; 
}

div.panel div.button {
    margin-top: 40px; 
}
div.karta_box {
    float: left;
    width: 70px; 
    margin: 2px;
    position: relative;
}
div.mazaci { border: 1px solid; }
div.klikaci {
    cursor: pointer;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}
div.maznuta {
  opacity: .3;
}
div.vyrazna { 
  opacity: 1;
}
div.karta {
    width: 68px; height: 75px; 
    border: black solid 1px;
    border-radius: 2px;
    margin-bottom: 3px;
    padding-top: 15px;
    font: bold 50px Arial, sans-serif;
    text-align: center;
    vertical-align: middle;
}
div.shadow { -webkit-box-shadow: 3px 3px 2px #777; }
div.srdce  {
  color: black;
  background: white url('srdce.png') no-repeat 2px 2px; 
}
div.kary   { 
  color: black;
  background: white url('kary.png') no-repeat 2px 2px; 
}
div.zelena {
  color: #c0905f;
  background: white url('zelena.png') no-repeat 2px 2px; 
}
div.zaludy { 
  color: #c0905f;
  background: white url('zaludy.png') no-repeat 2px 2px; 
}
div.rub-karta {
    width: 68px; height: 90px; 
    border: black solid 1px;
    margin-bottom: 3px; 
    background: url('rub_karty19.png') repeat; 
    color: black;
    font: bold 25px Arial, sans-serif;
    text-align: center;
    vertical-align: middle; 
}
div.podstavec {
    width: 70px; height: 7px;
    margin: 0px; padding: 0px;
    font-size: 1px;
}
div.podkartou {
    width: 68px;
    -webkit-box-shadow: 3px 3px 2px #777;
    border: 1px solid;
    height: 5px; border-radius: 2px;
    font-size: 1px;
}
div.karta_novabarva {
  position: absolute;
  left: 36px; top: 58px;
  font: bold 20px Arial, sans-serif; 
  margin: 2px; 
  float: left;
}
div.karta_novabarva img {
  border: 1px solid black;
  border-radius: 2px;
}

div.title {
  clear:both;
  margin: 5px; padding: 5px; 
  border-radius: 5px;
  font: bold 20px Arial, sans-serif; 
  text-align: center;
}
div.section { 
  overflow: hidden;
}
div.hrac_na_tahu {
  font: bold 20px Arial, sans-serif; 
  border-radius: 5px;
  margin: 5px; 
  padding: 5px;
}
div.dalsibarva {
    float: left;
    width: 70px; height: 68px;
    text-align: center;
    margin: 2px 2px 5px 2px;
    border: 1px solid;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}
div.dalsibarva img {
    border: black solid 1px;
    border-radius: 2px;
}
div.hrac_historie {
  clear: both; margin: 5px;
  height: 98px;
  border-radius: 5px;
}
div#hrac-historie-none {
  font: bold 20px Arial, sans-serif; 
  text-align: center;
  height: 30px;
  padding: 5px; 
}
div.hrac_jmeno {
  font: bold 20px Arial, sans-serif; 
  padding: 5px; 
  float: left; width: 120px;
}
div.hrac_zprava {
  font: bold 20px Arial, sans-serif; 
  padding: 5px; 
  float: left;
}
div.about_title {
  margin: 5px; padding: 5px; 
  border-radius: 5px;
  font: bold 20px Arial, sans-serif; 
  text-align: center;
}
div.about_ref {
  font: bold 20px Arial, sans-serif; 
  border-radius: 5px;
  margin: 5px; 
  padding: 5px;
}
